@import "../../../theme/shared/_mixins";
@import "../../../theme/shared/_variables";

:host {
    display: flex;
}

a.label {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    margin-right: auto;
    padding: 4px 8px;

    &:hover {

    }

    .count {
        font-size: $fontSize - 2px;
        margin-left: 5px;
    }

    @include box-sizing();
    @include border-radius(2px);
}
