@import "../../../theme/shared/_mixins";
@import "../../../theme/shared/_variables";

.tutorial-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: colors(charcoal);
    opacity: 0.9;
    z-index: 9;
}

.tutorial-content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 90%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    background-color: colors(coal);
    z-index: 10;

    .header {
        padding: 16px 24px;
        border-bottom: 1px solid colors(charcoal);

        .flaticon-cancel:before {
            font-size: 15px;
        }
    }

    h2.tuto-title {
        font-size: $fontSize + 2px;
        margin: 0px;
        font-weight: 200;
        text-align: center;
    }

    .sub-content {
        padding: 24px 32px;

        .tuto-gif {
            text-align: center;
            img {
                margin: auto;
                display: block;
            }

            margin-bottom: 24px;
        }
        p.tuto-text {
            &.center {
                text-align: center
            }
            line-height: 1.6em;
            margin-bottom: 16px
        }
        code {
            color: colors(warning);
            display: inline;
        }
        code.tuto-code {
            display: block;
            color: colors(warning);
            margin-bottom: 16px;
            padding: 8px;
            background-color: colors(charcoal);
            @include border-radius(2px);
        }
    }
}

.bubbles {
    margin: 0px auto;
    padding: 25px 0px;

    a.bubble {
        $bh: 12px;
        width: $bh;
        height: $bh;
        background-color: colors(secondary);
        border: 2px solid transparent;
        @include border-radius($bh);
        margin-left: 6px;
        margin-right: 6px;
        @include transition(background-color ease 0.1s);

        &:hover {
            background-color: colors(primary);
        }
        &.active {
            background-color: colors(primary);
        }
    }
}
