@import "./shared/_mixins";
@import "./shared/_variables";

/**
 * Layout
 */
*, html {
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    color: colors(white);
    display: flex;
    flex-direction: column;
    font-size: $fontSize;
    font-family: Arial, sans-serif;
    background-color: colors(midnight);
    @include text-antialias();
}

app-root {
    display: flex;
    flex: 1;
    flex-direction: column;
}

router-outlet {
    display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
    color: colors(gray);
    font-size: $fontSize + 8px;
    font-weight: 200;
    margin: 16px 0px 32px 0px;
}

p {
    margin: 0px;
    padding: 0px;
    line-height: 1.4em;
}
p.paragraph {
    padding: 0px 16px;
    margin: 8px 0px;
}

[page] {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: $headerHeight;
    padding: 16px;
}
