@import "../../../theme/shared/_mixins";
@import "../../../theme/shared/_variables";

:host[icon-only] {

    button {
        padding: 0px;
        margin: 0px;
        min-width: 0px;
        
        padding-left: 14px;
        padding-right: 14px;
    }
}
