
g.link-group {
    cursor: pointer;

    text.link-text {
        font-size: 10px;
        fill: #808080;
        text-decoration: uppercase;
    }


    line.link {
        stroke: #dedede;
        stroke-width: 1.3px;
    }

    line.link-overlay {
        stroke:#25a4ca;
        stroke-width: 6px;
        stroke-opacity: 0;
    }

    &:hover {
        line.link-overlay {
            stroke-opacity: 0.4;
        }
    }

    .arrow-marker {
        fill: red;
    }
}
