@import "../../../theme/shared/_mixins";
@import "../../../theme/shared/_variables";

:host {
    @include hostSupportsFullPage()
}

.column-left {
    width: 290px;
    margin-right: 24px;
}

.column-right {
    width: 260px;
    margin-left: 24px;
}

.box-title {

}
