@import "../../../theme/shared/_mixins";
@import "../../../theme/shared/_variables";

:host {
    @include hostSupportsFullPage()
}

.column-left {
    width: 290px;
    margin-right: 24px;
}

.column-right {
    width: 260px;
    margin-left: 24px;
}

a.explore-toggler {
    display: flex;
    margin: 16px 0 8px;

    span.caret {
        // position: relative;
        // top: -1px;
        font-size: $fontSize + 4px;
        line-height: $fontSize;
        vertical-align: middle;
    }
}

ul.labels-list {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    flex-direction: row;
    align-items: center;

    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 16px;

    li {
        display: flex;
        flex-direction: column;
        margin-bottom: 4px;
        margin-right: 4px;
    }
}
