{
    "client": {
        "apiEndpoint": "http://127.0.0.1:7474/db/data",
        "authBasic": "Basic queRty=="
    },
    "hotkeys": {
        "toggleCreateMode": ["CTRL", "c"]
    },
    "graph": {
        "nodes": {
            "primaryKey": "ID",
            "displayNameOptions": ["name", "label", "id"],
            "displayColorOptions": {
                "Ad": "#6DCE9E",
                "Person": "#343434",
                "Test": "#e8cb3b",
                "Specialty": "#11b7ad",
                "Client": "#6DCE9E",
                "Company": "#1e6f98",
                "Officer": "#e8cb3b",
                "Test": "#11b7ad"
            }
        },
        "links": {
            "displayNameOptions": ["name", "TYPE"],
            "displayColorOptions": {

            }
        },
        "labels": ["Test1", "Test2", "Document", "Officer", "Company"]
    }
}
